html{
    background-color: #F4E869;
}

#yanza{
    height: 50px;
    text-align: center;
    font-size: 20px;
    
}


#lala{
    height: 60px;
    text-align:right ;
}

h3{
    text-align: center;
    font-size: 40px;
    
}

.kk{
    display: inline-block;
}

.ll{
    display: inline-block;
}

